<link rel="stylesheet" href="/stylesheets/login-signup.css" />

{{!-- <div id="form">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div> --}}

<section id="cards">
  <div class="cards-container">

    <div class="card-log" id="project-1">

      <form action="/signup" method="POST">

        <label class="label" for="email">
          Email
        </label><br />
        <input type="email" name="email" placeholder="Your email" />

        <label class="label" for="username">
          Username
        </label><br />
        <input type="text" name="username" placeholder="Your username" />

        <label class="label" for="password">
          Password
        </label><br />
        <input type="password" name="password" placeholder="Your password" />

        <button class="btn-1" id="button" type="submit">Sign Up</button>

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>

    </div>
  </div>
</section>