<link rel="stylesheet" href="/stylesheets/create.css" />


<div id="beer-create" class="padding">
  <h1>Are you Thirsty?</h1>
  <hr />
  <div>
    <h4>The Website that guides you to solving that beer thirstyness we all
      know.</h4>
    <h4>Login first, then go find the best places to have that beer of a
      lifetime</h4>
    <hr />
    <p>You can easily find the best spots by searching for a specific Beer or a
      specific Place.</p>

    
    {{#unless currentUser}}

      <a class="tag" href="/login">Login</a>
      <a class="tag" href="/signup">Signup</a>

    {{/unless}}

    {{#if currentUser}}

      <a class="tag" href="/beers">Checkout what to drink</a>
      <a class="tag" href="/restaurants">Checkout where to drink</a>

    {{/if}}

  </div>
</div>



<div class="bottom-particles">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>
<div id="foam"></div>
{{!-- <h1 class="text-light">CSS Beer</h1>
<p class="text-light">Original bubbles by Paulo Duzioni</p> --}}