<div class="padding">
  <h1>Are you Thirsty?</h1>
  <hr />
  <div>
    <h4>The Website that guides you to solving that beer thirstyness we all
      know.</h4>
    <h4>Login first, then go find the best places to have that beer of a
      lifetime</h4>
    <hr />
    <p>You can easily find the best spots by searching for a specific Beer or a
      specific Place.</p>

    <a class="tag" href="/signup">Signup</a>
    <a class="tag" href="/login">Login</a>

  </div>
</div>