// Bubbles Pen https://codepen.io/Paolo-Duzioni/pen/MQmbJo

.bottom-particles
  - var n = 1;
  - var bubbles = 40;
  while n <= bubbles 
    .bubble
    - n++;
#foam
h1.text-light CSS Beer
p.text-light Original bubbles by Paulo Duzioni