@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* .card {
  margin: 5% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

img {
  display: flex;
  border: 1px solid black;
  width: 25vw;
  height: 35vh;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f8f8f8;
}

body {
  padding: 2rem 0.5rem;
  font-family: "Raleway", Sans-serif;
  color: #32325d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  margin-top: 50px;
}

.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 24vw;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30vw;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.card-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}

.card-title {
  font-size: 25px;
  line-height: 1.1em;
  color: #32325d;
  margin-bottom: 0.2em;
}

.card-image {
  height: 30vh;
  width: 20vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
  margin: 0 auto;
  text-align: center;
}

.card-image img {
  border: 1px solid black;
  height: 100%;
  align-items: center;
}

.padding {
  padding: 10%;
}

.create-button {
  display: flex;
  float: right;
}

@media (min-width: 1400px) {
  body .container {
      max-width: 100%;
  }
}